*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcfbf5;
    color: #2c2d48;
    transition: background-color 1.5s , color 1s;
}

h1{
    font-weight: 900;
}

main{
    padding: 5px;
}

main h1{
    font-size: 40px;
}

p{  
    max-width: 720px;
    text-align: justify;
    font-size: 18px;
}

small{
    font-size: 0.5em;
    display: block;
}

footer{
    cursor: pointer;
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
}

.darkmode{
    color: #dcdcdc;
    background-color: #222831;
}
